@font-face {
    font-family: myFirstFont;
    src: url(src/brushci.ttf);
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.mountain-container {
    position: relative;
}
.layer {
    position: absolute;
    max-width: 100%;
    transition: transform 1s linear;
    transform: translateY(0);
}
.vid {
    max-width: 100%;
}
.full-hora {
    /* position: relative; */
    top: 0;
}
.trees {
    z-index: 5;
    top: 0;
}
.mountain {
    z-index: 0;
    top: 0;
}
h1 {
    font-family: myFirstFont;
}

.cave-container {
    position: absolute;
}
